{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon"
    href="https://png.pngtree.com/png-vector/20220606/ourmid/pngtree-writing-black-icon-png-png-image_4698425.png" />
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>To-Do List</title>
</head>

<body>
  <div class="to-do-list">
    <div class="heading">
      <h3 class="text-4xl mt-4">To-Do List</h3>
    </div>
    <div class="contain">
      <form id="todo-form" class="todo-form" method="post" action="{% url 'edit_task' task.id %}">
        {% csrf_token %}
        <input type="text" name="title" id="todotext" placeholder="Add a Task." value="{{task.title}}" required />
        <textarea name="desc" id="tododesc" placeholder="Task Description" required>{{task.desc}}</textarea>

        <label for="todostatus">Status:</label>
        <select name="status" id="todostatus">
          <option value="Incomplete" {% if task.status == 'Incomplete' %}selected{% endif %}>Incomplete</option>
          <option value="Complete" {% if task.status == 'Complete' %}selected{% endif %}>Complete</option>
        </select>
    
        <div id="completion-date-field">
          <label for="tododate">Completion Date:</label>
          <input type="date" id="tododate" name="completion_date" />
        </div>
    

        <button type='submit' id="addlist">Update Task</button>
      </form>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      <form id="todo-form" class="mt-3" action="{% url 'home' %}">
        <button id="addlist">Back</button>
      </form>

    </div>



    <!-- <script>
      document.addEventListener('DOMContentLoaded', function () {
        const statusSelect = document.getElementById('todostatus');
        const completionDateField = document.getElementById('completion-date-field');
        // const userForm = document.getElementById("todo-form")

        function toggleCompletionDate() {
          // console.log("test")
          // userForm.submit()
          const status = statusSelect.value;
          completionDateField.style.display = (status === 'Complete') ? 'block' : 'none';
        }
        toggleCompletionDate();
        statusSelect.addEventListener('change', toggleCompletionDate);

      });
    </script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
</body>

</html>