<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon"
    href="https://png.pngtree.com/png-vector/20220606/ourmid/pngtree-writing-black-icon-png-png-image_4698425.png" />
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>To-Do List</title>
</head>

<body>
  <div class="to-do-list">
    <div class="heading">
      <h3 class="text-5xl mt-4">To-Do List</h3>
    </div>
    <div class="contain">
      <form id="todo-form" action="{% url 'add' %}">
        <button id="addlist">Add Your Task</button>
      </form>
      {% for i in data %}
      <div class="flex justify-center">
        <div class="border border-black mt-3 w-2/4 styled-div">
          <div class="p-3">
            <table class="styled-table">
              <tr>
                <td class="label">Task</td>
                <td class="value">{{i.title}}</td>
              </tr>
              <tr>
                <td class="label">Description</td>
                <td class="value">{{i.desc}}</td>
              </tr>
              <tr>
                <td class="label">Status</td>
                <td class="value">
                  {{i.status}}
                </td>
              </tr>
              <tr>
                <td class="label">Completion Date</td>
                <td class="value">{{i.completion_date}}</td>
              </tr>
              <tr>
                <td colspan="2" class="value">
                  <form action="" style="display:inline;">
                    {% csrf_token %}
                    <a href="{% url 'delete_task' i.id %}" ><i class="fa-solid fa-trash m-2"
                        style="color: #e61429;"></i></a>
                  </form>

                  <a href="{% url 'edit_task' i.id %}"><i class="fa-regular fa-pen-to-square m-2"
                      style="color: #1f9707;"></i></a>
                  <a href="{% url 'view_task' i.id %}"><i class="fa-regular fa-eye m-2" style="color: #0d3c8c;"></i></a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

<!-- 
  <script>
    function confirmDelete(e)
    {
      if(!confirm('Are you sure?')) {
        e.preventDefault();
      }
    }
  </script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>